/* Small Screen */
.container {
  margin: 5rem auto;
}

.movies {
  text-align: center;
}

.movie_image {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movies__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #666699;
}

.movie__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Medium Screen */
@media (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}
